.alert {
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 40rem;
  background-color: #059DC0;
  color: #6AF2F0;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 6px;
}